.mainblock{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsl(48, 99%, 63%);
    padding-top: 50px;
    color: hsl(273, 72%, 13%);
    padding-bottom: 3%;
}
.check{
    background-color: hsl(273, 72%, 13%);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0px;
    border-radius: 7px;
    padding-right: 7px;
    padding-left: 7px;
}
.check:hover{
    cursor: pointer;
    color: hsl(48, 99%, 63%);
}

.partone{
    margin: auto;
}
.flyer{
    width: 100%;
}
@media (max-width: 590px) {
    .mainblock{
        display: block;
        text-align: center;
    }
   
    .bone{
        display: contents;
    }
    .check{
        margin-bottom: 10px;
    }
}
.bone{
    text-align: left;
}