.solutions{
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsl(273, 72%, 13%);
    padding-bottom: 10%;
}
.cardparent{
    display: flex;
}
@media (max-width:750px) {
    .cardparent{
        display: block;
    }
    .cardrows{
        margin-left: 20%;
        margin-right: 30%;
    }
    
}
#sol{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-align: center;
}
.cardrows{
    margin-right: 15%;
    background-color: hsl(48, 99%, 63%);
    color: hsl(273, 72%, 13%);
    border-radius: 7px;
}
.wrut{
    padding: 10px;
}
.lastp{
    display: flex;
    align-items: center;
    
}
@media (max-width:1140px) {
    .hid{
        display: none;
    }
    .cardrows{
        margin-right: 30%;
        margin-bottom: 30px;
    }
}

.Cardone{
    width: 100%;
}